### Project 3

#### Projected College Cash Flow Analysis Combining Expenses and Available Resources
    Attending college is an expensive proposition and resources often are limited. To plan for a four-year college career, 
    students must organize their anticipated expenses and resources. Current average collage cost for the 2022: for public undergraduate tuition& fees is $7,967 for state residents and $13,006 for out-of-state students.

Assign Project Goal:

    - Make a .py (or .ipynb) file that contains the following:
    - import two sets of data from any source
    - join them / combine them into one data frame.
        * use any kind of join: outer, right, left joins, inner joins are the most common.

In [19]:
# import pandas as pd
import pandas as pd 
# import numpy as np
import numpy as np

In [20]:
pd.set_option('display.max.columns',10000)

In [ ]:
# Dictionary containing (expenses) data
# State_tuition = current year
# Miscellaneous row = annual tuition rate hike (emergency loan)

data1 = {
         'key': ['A0', 'A1', 'A2', 'A3', 'A4','A001'],
         'cost': ['room_board', 'state_tuition', 'clothes', 'entertainment', 'unforeseen_cost', 'miscellaneous'], 
         'freshman': [3290.00, 7967.00, 490.00, 635.00, 325.00, 0], 
         'sophomore': [3454.50, 7967.00, 514.50, 666.75, 341.25, np.nan],
         'junior': [3627.23, 7967.00, 540.22, 700.09, 358.31, 0],
         'senior': [3808.59, 7967.00, 567.24, 735.09, 376.23, np.nan]
}
        
data1 = pd.DataFrame(data1)

data1.head(7)

In [ ]:
# Dictionary containing (resources) data 

data2 = {
         'key': ['A5', 'A6', 'A7', 'A8', 'A9','A002'],
         'cost': ['savings', 'parents', 'job', 'financial_aid', 'other_cost','miscellaneous'], 
         'freshman': [1300.00, 5080.97, 1450.00, 4200.00, 300.00, np.nan], 
         'sophomore': [1300.00, 5197.97, 1522.50, 4410.00, 380.00, 0],
         'junior': [1314.00, 5320.82, 1598.64, 4630.50, 450.00, np.nan],
         'senior': [1352.20, 5449.81, 1678.56, 4862.03, 500.00, 0]
} 

data2 = pd.DataFrame(data2)

data2.head(7)

In [ ]:
# Outer join
# Replace missing value with zeros

pd.merge(data1, data2, on=['freshman','sophomore','junior','senior','key','cost'], how='outer').fillna(0)

In [ ]:
# Sum columns/rows of expenses

data1.loc[6]= data1.sum(numeric_only=True, axis=0)   #index_col=['cost'])
data1.loc[:,'total'] = data1.sum(numeric_only=True, axis=1)
data1.at[6,'cost'] = 'total_expenses'

df1 = data1.fillna(0)

df1

In [ ]:
# Sum columns/rows of resources

data2.loc[6]= data2.sum(numeric_only=True, axis=0)
data2.loc[ :,'total'] = data2.sum(numeric_only=True, axis=1)
data2.at[6,'cost'] = 'total_resources'

df2 = data2.fillna(0)

df2

In [ ]:
# Using the merge function with outer join to display total expenses = total resouces for the four-year budget 

pd.merge(df1, df2, on=['freshman','sophomore','junior','senior','key','cost','total'], how='outer')

In [ ]:
# The following are also merges but in this DataFrame the only join that working is outer 
# DataFrame 2 right join
pd.merge(df1, df2, on=['freshman','sophomore','junior','senior','total', 'key','cost'], how='right')

# DataFrame 1 left join
pd.merge(df1, df2, on=['freshman','sophomore','junior','senior','total', 'key','cost'], how='left')

# Inner join
pd.merge(df1, df2, on=['cost'], how='inner')

# Join by index
df_index = pd.merge(df1, df2, right_index=True, left_index=True)

df_index